<br>
<h1 style="text-align: center">Insurance Regulations</h1>
<br>
<hr>
<h4>1. Eligibility conditions</h4>
<ul>
  <li>When going for medical examination and treatment, they must present a valid health insurance card and valid photo
    identification. For children under 6 years old, only show a valid health insurance card.</li>
  <li>In case of emergency: Be admitted at any medical examination and treatment facility (KCB) and must present a
    health insurance card along with a valid ID card before being discharged from the hospital. In the course of
    treatment, when a number of diseases are detected and must be treated, the treatment at the medical facility
    is calculated at the correct level.</li>
  <li>In case of referral for treatment: To be transferred to a professional and technical hospital as prescribed
    in case the health care facility is beyond its capacity for treatment or the technical services are not implemented
    by the unit. The patient must present a valid health insurance card and valid photo identification and a hospital
    transfer letter from the referral facility.</li>
  <li>In case of payment of transportation costs for patients: Subjects are "non-commissioned officers, people
    doing cipher work..; People with meritorious services to the revolution; Relatives of people with meritorious
    services to the revolution (parents, mothers). giving birth, children, people who have taken care of martyrs);
    Children under 6 years old; Persons eligible for monthly patronage;" then the health insurance fund will pay for
    the two-way transportation cost in case of technical transfer.</li>
  <li>In case of re-examination: on request for treatment: The insured must have a re-examination appointment letter
    from the medical facility. The appointment letter for re-examination can only be used once for medical examination
    and treatment.</li>
</ul>
<h4>2. Benefit level</h4>
<ul>
  <li>100% of medical treatment costs for the following subjects: officers, professional non-commissioned officers
    and officers and non-commissioned officers; People with revolutionary merits; Children under 6 years old; the cost
    of medical treatment in case the cost for one time of medical treatment is lower than 15% of the base salary
    (general minimum wage) and medical treatment at the commune level; Persons eligible for monthly social protection
    allowance; People from poor households; ethnic minorities are living in areas with difficult or extremely difficult
    economic conditions.</li>
  <li>95% of medical treatment costs for the following subjects: People who are enjoying monthly pensions or benefits
    for loss of working capacity; People from near-poor households; Relatives of people with meritorious services
    to the revolution.</li>
  <ol>80% of medical expenses for other subjects.</ol>
</ul>

