<section class="py-5 text-center doc-script-wrap">
  <div class="container">
    <div class="row py-lg-5 doc-script">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-semibold feedback-title">What Patients Say About Us</h1>
        <p class="lead text feedback-title">Your satisfaction is our happiness</p>
      </div>
    </div>
  </div>
</section>

<section class="section main">
  <div class="container div-2-container">
    <div class="second-title">
      <h2>What Patients Say About Us</h2>
    </div>
    <div class="row">
      <div class="col-8 client-feedback-wrap">
        <div class="client-feedback">
          <div class="client-profile row">
            <div class="client-avt fb col-2">
              <img src="assets/images/trong/avt3.jpg" >
            </div>
            <div class="client-info fb col-10">
              <ul>
                <li>Lara Croft</li>
                <li>Restaurant Owner</li>
                <li>8th Nov, 2022</li>
              </ul>
            </div>
          </div>
          <hr class="featurette-divider">
          <div class="cmt">
            <h5>Doctors here is so professional</h5>
            "Medical Centre is a great place to get all of your medical needs.
            I came in for a check up and did not wait more than 5 minutes before
            I was seen. I can only imagine the type of service you get for more
            serious issues. Thanks!"
          </div>
        </div>
        <div class="client-feedback">
          <div class="client-profile row">
            <div class="client-avt fb col-2">
              <img src="assets/images/trong/avt3.jpg" >
            </div>
            <div class="client-info fb col-10">
              <ul>
                <li>Lara Croft</li>
                <li>Restaurant Owner</li>
                <li>8th Nov, 2022</li>
              </ul>
            </div>
          </div>
          <hr class="featurette-divider">
          <div class="cmt">
            "Medical Centre is a great place to get all of your medical needs.
            I came in for a check up and did not wait more than 5 minutes before
            I was seen. I can only imagine the type of service you get for more
            serious issues. Thanks!"
          </div>
        </div>
        <div class="client-feedback">
          <div class="client-profile row">
            <div class="client-avt fb col-2">
              <img src="assets/images/trong/avt3.jpg" >
            </div>
            <div class="client-info fb col-10">
              <ul>
                <li>Lara Croft</li>
                <li>Restaurant Owner</li>
                <li>8th Nov, 2022</li>
              </ul>
            </div>
          </div>
          <hr class="featurette-divider">
          <div class="cmt">
            "Medical Centre is a great place to get all of your medical needs.
            I came in for a check up and did not wait more than 5 minutes before
            I was seen. I can only imagine the type of service you get for more
            serious issues. Thanks!"
          </div>
        </div>
        <div class="client-feedback">
          <div class="client-profile row">
            <div class="client-avt fb col-2">
              <img src="assets/images/trong/avt3.jpg" >
            </div>
            <div class="client-info fb col-10">
              <ul>
                <li>Lara Croft</li>
                <li>Restaurant Owner</li>
                <li>8th Nov, 2022</li>
              </ul>
            </div>
          </div>
          <hr class="featurette-divider">
          <div class="cmt">
            "Medical Centre is a great place to get all of your medical needs.
            I came in for a check up and did not wait more than 5 minutes before
            I was seen. I can only imagine the type of service you get for more
            serious issues. Thanks!"
          </div>
        </div>
        <div class="client-feedback">
          <div class="client-profile row">
            <div class="client-avt fb col-2">
              <img src="assets/images/trong/avt3.jpg" >
            </div>
            <div class="client-info fb col-10">
              <ul>
                <li>Lara Croft</li>
                <li>Restaurant Owner</li>
                <li>8th Nov, 2022</li>
              </ul>
            </div>
          </div>
          <hr class="featurette-divider">
          <div class="cmt">
            "Medical Centre is a great place to get all of your medical needs.
            I came in for a check up and did not wait more than 5 minutes before
            I was seen. I can only imagine the type of service you get for more
            serious issues. Thanks!"
          </div>
        </div>


      </div>
      <div class="col-4 feedback-topic">
        <div class="">
          <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white">
            <a href="/" class=" topic d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
              <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
              <span class="fs-5 fw-semibold topic-f2">Topics</span>
            </a>
            <div class="list-group list-group-flush border-bottom scrollarea">
              <a href="#" class="list-group-item list-group-item-action active py-3 lh-sm" aria-current="true">
                <div class="d-flex w-100 align-items-center justify-content-between">
                  <strong class="mb-1">Eye Care</strong>
                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
                <div class="d-flex w-100 align-items-center justify-content-between">
                  <strong class="mb-1">Nephrologist Care</strong>
                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
                <div class="d-flex w-100 align-items-center justify-content-between">
                  <strong class="mb-1">Pediatrician Clinic</strong>
                </div>
              </a>

              <a href="#" class="list-group-item list-group-item-action py-3 lh-sm" aria-current="true">
                <div class="d-flex w-100 align-items-center justify-content-between">
                  <strong class="mb-1">Prenatal Care</strong>
                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
                <div class="d-flex w-100 align-items-center justify-content-between">
                  <strong class="mb-1">Medical Counseling</strong>
                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
                <div class="d-flex w-100 align-items-center justify-content-between">
                  <strong class="mb-1">Rehabilitation Center</strong>
                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-3 lh-sm" aria-current="true">
                <div class="d-flex w-100 align-items-center justify-content-between">
                  <strong class="mb-1">Eldery Care</strong>
                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
                <div class="d-flex w-100 align-items-center justify-content-between">
                  <strong class="mb-1">Competitive Doctors</strong>
                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
                <div class="d-flex w-100 align-items-center justify-content-between">
                  <strong class="mb-1">Helth Checkup</strong>
                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-3 lh-sm" aria-current="true">
                <div class="d-flex w-100 align-items-center justify-content-between">
                  <strong class="mb-1">Oral Checkup service</strong>
                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
                <div class="d-flex w-100 align-items-center justify-content-between">
                  <strong class="mb-1">Regenerational Care</strong>
                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
                <div class="d-flex w-100 align-items-center justify-content-between">
                  <strong class="mb-1">Mental Consultant</strong>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="send-feedback">
          <div class="">
            <h3>Your Feedback</h3>
            <p>Leave your feedback here</p>
            <form action="#" target="_blank">
              <p><input class="w3-input w3-border short1" type="text" placeholder="Name...." name="Name" required></p>
              <p><input class="w3-input w3-border short1" type="text" placeholder="Email...." name="Email" required></p>
              <p><input class="w3-input w3-border short1" type="text" placeholder="Subject...." name="Subject" required></p>
              <p><textarea class="w3-input w3-border fb-text" type="text" placeholder="Feedback..." name="Message" required></textarea></p>
              <button type="submit" class="fb-btn fw-semibold">Send Feedback</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container page-number">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</div>
