<section class="py-5 text-center doc-script-wrap">
  <div class="container">
    <div class="row py-lg-5 doc-script">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-semibold feedback-title">Your satisfaction is our priority</h1>
<!--        <p class="lead text feedback-title">Leave your feedback </p>-->
      </div>
    </div>
  </div>
</section>

<!--<section class="section main">-->
  <div class="container div-2-container">
    <div class="row">

      <div class="feedback-topic">

        <div class="send-feedback">
          <div class="">
            <h3>Your Feedback</h3>
            <p>Leave your feedback here</p>
            <form action="#" target="_blank">
              <p><input class="w3-input w3-border short1" type="text" placeholder="Name...." name="Name" required></p>
              <p><input class="w3-input w3-border short1" type="text" placeholder="Email...." name="Email" required></p>
              <p><input class="w3-input w3-border short1" type="text" placeholder="Subject...." name="Subject" required></p>
              <p><textarea class="w3-input w3-border fb-text" type="text" placeholder="Feedback..." name="Message" required></textarea></p>
              <button type="submit" class="fb-btn fw-semibold">Send Feedback</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--</section>-->

