<div class="content">
  <div class="room-img">
    <img src="assets/images/trong/room/room4.jpg">
    <h4>Hospital inpatient room</h4>
    <p class="description">
      Hospital inpatient room With high-class facilities, outstanding luxury, VIP room - Vinmec's high-quality long-term treatment room - is for people to experience the perfect experience for high-quality medical services. issued in Vietnam. In the VIP room, the patient will be completely satisfied with the luxurious, private space for treatment but still have enough amenities for other daily tasks, thanks to equipment such as a desk. , wardrobe...
      Special facilities:<br>
      01 TV wall mounted opposite the patient's bed.<br>
      01 Wardrobe includes basic items such as hangers, slippers, health scales, hair dryer and safe).
    </p>
  </div>
</div>
