<div class="main">
  <div class="top-img">
    <div class="img-text">
      <h1>Facilities</h1>
    </div>
  </div>

  <div class="container">



    <hr class="hr" style="width: 100%; margin-top: 100px">
<div class="row"><div class="facilities col">
  <div class="faci-text">
    <h3>Inpatient Room</h3>
    <i>Facilities</i>
  </div>
</div>
  <div class="facilities col">
    <div class="faci-text">
      <h3>Inpatient Room</h3>
      <i>Facilities</i>
    </div>
  </div>
  <div class="facilities col">
    <div class="faci-text">
      <h3>Inpatient Room</h3>
      <i>Facilities</i>
    </div>
  </div>
  <div class="facilities col">
    <div class="faci-text">
      <h3>Inpatient Room</h3>
      <i>Facilities</i>
    </div>
  </div>

</div>
    <div class="row"><div class="facilities col">
      <div class="faci-text">
        <h3>Inpatient Room</h3>
        <i>Facilities</i>
      </div>
    </div>
      <div class="facilities col">
        <div class="faci-text">
          <h3>Inpatient Room</h3>
          <i>Facilities</i>
        </div>
      </div>
      <div class="facilities col">
        <div class="faci-text">
          <h3>Inpatient Room</h3>
          <i>Facilities</i>
        </div>
      </div>
      <div class="facilities col">
        <div class="faci-text">
          <h3>Inpatient Room</h3>
          <i>Facilities</i>
        </div>
      </div>

    </div>


  </div>
</div>



