a{
  text-decoration: none;
  color: #3065b5;
}
.fac-3{
  margin: 3rem 0;
}
.fac{
  color: #3065b5;
  height: 12rem;
  justify-content: center;
  align-items: center;
  display: flex;
  background-image: url("../../assets/images/trong/room/room1.1.jpg");
  margin: 1rem;
}
.fac h1 {
  font-size: 3rem;
  vertical-align: middle;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
  1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}
.fac:hover{
  transform: scale(1.01);
  transition: 300ms;
}
.room{
  background-image: url("../../assets/images/trong/room/room4.1.jpg");
}
.infrastructure{
  background-image: url("../../assets/images/trong/room/in2.jpg");
}
