<section class="section main">
  <div class="container div-2-container">
    <div class="row">
      <div class="col-3">
        <div class="d-flex flex-column flex-shrink-0 p-3 sidebar-bg" style="width: 280px;">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-4">Cambridge Hospital's Rooms List</span>
          </a>
          <hr>
          <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
              <a routerLink="/room" class="nav-link active" aria-current="page">
                Room name 1
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                Room name 2
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                Room name 3
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                Room name 4
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                Room name 5
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                Room name 6
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                Room name 7
              </a>
            </li>
          </ul>

        </div>
      </div>
      <div class="col-9">
        <div class="content">
          <div class="room-img">
            <img src="assets/images/trong/room/room4.jpg">
            <h4>Phòng nội trú VIP</h4>
            <p class="description">
              Phòng nội trú VIP

              Với những tiện nghi cao cấp, sang trọng vượt trội, phòng VIP - phòng bệnh dành cho điều trị dài ngày chất lượng cao của Vinmec - đem tới cho người bệnh trải nghiệm hoàn hảo đối với dịch vụ y tế cao cấp ngay tại Việt Nam. Tại phòng VIP, người bệnh sẽ hoàn toàn hài lòng về không gian sang trọng, mang tính chất riêng tư cho việc dưỡng bệnh mà vẫn có đủ các tiện nghi cho các công việc thường nhật khác, nhờ các trang bị như bàn làm việc, tủ đồ...<br>

              Các tiện ích đặc biệt:<br>

              01 Tivi treo trên tường đối diện giường bệnh nhân.<br>
              01 Tủ quần áo bao gồm các vật dụng cơ bản như móc treo, dép, cân sức khỏe, máy sấy
              tóc và két sắt).
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
