<section class="section main">
  <div class="container div-2-container">
    <div class="row">
      <div class="col-3">
        <div class="d-flex flex-column flex-shrink-0 p-3 sidebar-bg" style="width: 280px;">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-4">Cambridge Hospital's Rooms List</span>
          </a>
          <hr>
          <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
              <a routerLink="./room-content" class="nav-link active" aria-current="page">
                Room name 1
              </a>
            </li>
            <li>
              <a routerLink="./room-content" class="nav-link text-white">
                Room name 2
              </a>
            </li>
            <li>
              <a routerLink="./room-content" class="nav-link text-white">
                Room name 3
              </a>
            </li>
            <li>
              <a routerLink="./room-content" class="nav-link text-white">
                Room name 4
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                Room name 5
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                Room name 6
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                Room name 7
              </a>
            </li>
          </ul>

        </div>
      </div>
      <div class="col-9">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
