<section class="section main">
  <div class="container div-2-container">
    <div class="row">
      <div class="col-3">
        <div class="d-flex flex-column flex-shrink-0 p-3 sidebar-bg" style="width: 280px;">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-4">Cambridge Hospital's Rooms List</span>
          </a>
          <hr>
          <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item" *ngFor="let n of room">
              <a class="nav-link active" aria-current="page">
                {{n.name}}
              </a>
            </li>
          </ul>

        </div>
      </div>

      <div class="col-9">
        <div class="content">
          <div class="room-img" *ngFor="let a of room">
            <h4 id="eq{{a.id}}">{{a.name}}</h4>
            <p class="description">
              {{a.function}}
            </p>
            <hr class="hr" style="width: 100%;margin: 0 0 60px">
          </div>
        </div>
      </div>

      <div class="col-9">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
