/*#main{*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  width: 100%;*/
/*  color: #808080;*/
/*  font-size: 14px;*/
/*  background-color: #fff;*/
/*  font-family: Helvetica,sans-serif;*/
/*}*/
.department{
  margin-top: 130px;
}
/*sidebar*/
.widget{
  padding: 30px 20px 40px;
  margin-bottom: 2px;
  color: #ffffff;
}
.widget__title{
  margin: 0 0 30px 30px;
}
.widget ul{
  list-style: none;
}
.widget li a{
  color: #ffffff;
}
.hr0{
  width: 90%;
}
.icon{
  padding-right: 5px;
}

/*content*/
.content{
  margin-left: 20px;
}
.introduction img{
  width: 100%;
}
.content__title{
  color: #212529;
  margin: 30px 0;
}
.introduction p{
  color: #808080;
  line-height: 1.8;
  margin-bottom: 40px;
}
.price__col{
  margin: 30px 0;
}
.price__title{
  color: #212529;
  font-size: 18px;
  margin: 0;
}
.price__col ul{
  padding-left: 16px;
  list-style: square;
}
.price__col ul li{
  margin-bottom: 10px;
}
.intro_doctor p{
  color: #808080;
  line-height: 1.8;
}
.profile_doctors_column{
  width: 290px;
  padding: 0;
  margin: 20px 20px 30px 10px;
  overflow: hidden;        /*để cho cái ảnh khi */
}
.profile_doctors_column img{
  width: 100%;
  height: 320px;
  object-fit: cover;
  transition: 0.5s;
  overflow: hidden;
  cursor: pointer;
}
.profile_doctors_column img:hover{
  transform: scale(1.05);
}
.heading h3{
  color: #212529;
  font-size: 20px;
  margin: 20px 20px 10px;
  cursor: pointer;
}
.heading h3:hover{
  color: #4bbcd7;
}
.heading h6{
  color: rgba(33,37,41,0.8);
  font-size: 16px;
  margin-left: 20px;
}
.profile_doctors_column p{
  font-size: 14px;
  color: #808080;
  margin-left: 20px;
}
.profile_doctors_column ul{
  list-style: none;
  padding: 0;
  margin-left: 20px;
}
.doctor__icon{
  color: #4bbcd7;
  margin-right: 5px;
}
.appointments p{
  padding-bottom: 10px;
}
.form__col{
  color: #808080;
  font-size: 14px;
  margin-bottom: 10px;
}
.select{
  margin-bottom: 20px;
  color: #808080;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
}
.form-text{
  margin-bottom: 20px;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
}
.tel{
  margin-top: 4px;
  margin-bottom: 20px;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
}
.date{
  margin-top: 4px;
  margin-bottom: 20px;
  height: 40px;
  color: #808080;
  padding-left: 10px;
  font-size: 16px;
}
.textarea{
  color: #808080;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}
.form__bottom{
  padding: 0;
  height: 50px;
  margin: 30px 0 50px 10px;
  font-size: 18px;
  background-color: #ffffff;
  color: #212529;
  border: 1px solid #808080;
}
.form__bottom:hover{
  background-color: #4bbcd7;
  color: #ffffff;
  transition: ease .1s;
}
