<div id="main">
  <div class="top-img">
    <div class="img-text">
      <h3>About Us</h3>
    </div>
  </div>

  <div class="container">

    <div class="text1">
      <h2>We Care About Your Health</h2>
      <p>Since its founding Brivona has been providing its patients with the full medical care, encompassing outpatients services, is neurology, laboratory, imaging diagnostics and more.</p>
      <p>Medhelp Center Hospital is a 162-bed facility founded in 1990 and located in coastal North Carolina. With the exception of Brynn Marr Psychiatric Hospital and the Naval Hospital at Camp Lejeune.</p>
      <ul class="tick">
        <li><i class="fa fa-check"></i>The best and most dedicated doctor</li>
        <li><i class="fa fa-check"></i>Modern and best medical equipment</li>
        <li><i class="fa fa-check"></i>Online support 24/24 and always have room for you</li>
        <li><i class="fa fa-check"></i>24x7 Emergency Services</li>
        <li><i class="fa fa-check"></i>Easy and Affordable Billing</li>
      </ul>
    </div>

    <div class="img1">
      <img src="https://demo.voidcoders.com/htmldemo/medhelpV2/medhelp-center/assets/images/about.png">
    </div>

    <div class="img2">
      <img src="https://demo.voidcoders.com/htmldemo/medhelpV2/medhelp-center/assets/images/about2.png">
    </div>

    <div class="text2">
      <p>Medhelp ospital offers a vast array of healthcare services with state-of-the-art diagnostic services, including a Women's Imaging Center, Heartburn Center, Cardiac Cath Lab, Neurodiagnostic Lab, MRI and CT Scan, to list just a few. Onslow Memorial Hospital also has a modern Labor and Delivery suite with state-of-the-art monitoring system, Neonatal Intensive Care Unit, Newborn Nursery,</p>
      <p>Intensive Care Unit/Coronary Care Unit, Medical and Surgical Services, and Rehabilitation Services (including Physical, Occupational, and Speech Therapy). A responsive Emergency Department and Minor Emergency Care Unit treats more than 50,000 patients annually. In recent years, a robust array of online services and portals have been.</p>
    </div>


  </div>
</div>
