<div id="main">
  <div class="container">

    <div class="message">
      <h3 class="title">Give ua a Message</h3>
      <div class="form">
        <div class="form1">
          <div class="form1-left">
            <label>You Name<span>(required)</span></label>
            <br>
            <input type="email" class="form1-control" >
          </div>
          <div class="form1-right">
            <label>Your Email<span>(required)</span></label>
            <br>
            <input type="email" class="form1-control">
          </div>
        </div>
        <div class="form1">
          <label>Subject</label>
          <br>
          <input type="email" class="form1-control1">
        </div>
        <div class="form1">
          <label>Your Message <span>(required)</span></label>
          <br>
          <input class="form1-control1" style="height: 120px">
        </div>
      </div>
      <button class="btn-send">Send</button>
    </div>

    <div class="contact">
      <h3 class="title">Contact Info</h3>
      <div class="contact-line"><i class="fa fa-rocket" ></i><a> No: 58 A, East Madison St Baltimore, MD, USA</a></div>
      <div class="contact-line"><i class="fa fa-phone"></i><a> Phone : +1 200 258 2145</a></div>
      <div class="contact-line"><i class="fa fa-envelope"></i>Email:<a href="#" style="color:#4bbcd7"> yourname@somemail.com</a></div>
    </div>

    <div class="appointment">
      <h3 class="title">Book an Appointment</h3>
      <br>
      <div class="wrap"><p>Fox that is her thing smaoasa lase lemedds laasd pamade eleifend sapien. Lase lemedds laasd pamade eleifend sapien.</p></div>
      <div class="appointment-line">
        <i class="fa fa-phone"></i>
        <a> Phone : +1 200 258 2145</a>
      </div>
      <div class="appointment-line">
        <i class="fa fa-envelope"></i>
        Email:<a href="#" style="color:#4bbcd7"> yourname@somemail.com</a>
      </div>
      <div class="appointment-line">
        <i class="fa fa-pencil"></i>
        Online Form:<a href="#" style="color:#4bbcd7"> Fill out this form</a>
      </div>
    </div>


  </div>

  <div class="map">
    <iframe class="map1" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.097863491619!2d105.77960061391452!3d21.02876989315618!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b3285df81f%3A0x97be82a66bbe646b!2sDetech%20Building!5e0!3m2!1svi!2s!4v1669190769234!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

</div>
