
a {
  text-decoration: none;
}

.map{
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.map1{
  width: 100%;
}
.message{
  margin-top: 90px;

}
h3{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #2d2d29;
}

.form1-control{
  width: 100%;
  height: 40px;
}
.form1-control1{
  width: 100%;
  height: 40px;

}

label{
  margin-top: 10px;
  color: #808080;
}
span{
  color: #b4b4b4;
}
.btn-send{
  border: none;
  color: white;
  background-color: #4bbcd7;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  margin-left: 560px;
  margin-top: 55px;
}
.btn-send:hover{
  background-color: #808080 !important;
}
.contact{
  margin-left: 40px;
  margin-top: 90px;
}
.contact-line{
  border-top: #cacaca solid 1px;
  margin-top: 20px;
  color: #808080;
  padding-top: 15px;
}
.contact-line a:hover{
  color: #808080 !important;
}
.contact-line i{
  text-align: center;
  margin-right: 10px;
  font-size: 25px;
}
.appointment{
  margin-left: 40px;
  margin-top: 40px;
}
.appointment-line{
  background: #ededed;
  display: block;
  width: 100%;
  margin: 0px 0px 10px;
  padding: 0px;
  line-height: 40px;
  color: #808080;
}
.appointment-line a:hover{
  color: #808080 !important;
}
.appointment-line i{
  color: #ffffff;
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 12px;
  margin-right: 10px;
  font-size: 16px;
  background-color: #4bbcd7;
}



