<h1>Working hours at Cambridge Hospital</h1>
<hr>
<h6>Cambridge Hospital International General Hospital would like to update the specific working schedule in the near future as follows:</h6>
<h3>I. 24-hour clinic and emergency services</h3>
<ul>
  <li>Customers in need of emergency services, emergency transportation, medical examination are served 24 hours.</li>
  <li>The operating room, imaging and testing system operates 24 hours to serve emergency needs.</li>
</ul>

<h3>II. Working hours at Cambridge Hospital locations:</h3>
<h4>1. Cambridge Hospital Los Angeles:</h4>
<p>From Monday to Friday:</p>
<ul>
  <li>Morning: 08:00 - 12:00</li>
  <li>Afternoon: 13:00 - 17:00</li>
  <li>Saturday: Morning: 08:00 - 12:00</li>
  <li>Closed Saturday and Sunday afternoon.</li>
</ul>
<p>Vaccine Center, Cambridge Hospital Beauty Center - View works from Monday to Sunday.</p>
<p>Internal Medicine, Obstetrics and Gynecology, Tropical Clinics for Covid-19 testing work from Monday to Saturday</p>

<h4>2. Cambridge Hospital New York:</h4>
<p>From Monday to Friday:</p>
<ul>
  <li>Morning: 08:00 - 12:00</li>
  <li>Afternoon: 13:00 - 17:00</li>
  <li>Saturday: Morning: 08:00 - 12:00</li>
  <li>Closed Saturday and Sunday afternoon.</li>
</ul>
