<section class="section main">
  <div class="container div-2-container">
    <div class="row">
      <div class="col-3">
        <div class="d-flex flex-column flex-shrink-0 p-3 sidebar-bg" style="width: 280px;">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-4">Cambridge Hospital's Equipment List</span>
          </a>
          <hr>
          <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
              <a routerLink="" class="nav-link active" aria-current="page">
                Equipment name 1
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                Equipment name 2
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                Equipment name 3
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                Equipment name 4
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                Equipment name 5
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                Equipment name 6
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                Equipment name 7
              </a>
            </li>
          </ul>

        </div>
      </div>
      <div class="col-9">
        <div class="content">
          <div class="room-img">
            <img src="assets/images/trong/equipment/e1.png">
            <h4>Oxygen generator</h4>
            <p class="description">
              Advantages and features
              The machine has a large capacity of 5m3/h, equivalent to 83 liters/minute, suitable for use in clinics and hospitals
              Modern design with 4 flexible moving rollers
              Large capacity is very suitable for long-term treatment support
              Simple to use operations
              Easy to remove parts for cleaning
              The device brings a comfortable and pleasant feeling to the user
              Pure oxygen source, meeting the needs of many patients
              Sturdy frame, made of high quality materials, long service life.
              Specifications
              Product model: 5m³/h
              Size: 1860*750*1320mm
              Weight: 250kg
              Power requirements, power supply: 220 V / 50Hz (± 10%)
              Power: 7.5KW
              Oxygen flow: 5m³/h
              Oxygen concentration: 93 ± 3% v/v)
              Oxygen outlet pressure: 200-500Kpa 2bar.-5bar.
              Noise 60dB
              Basic function: oxygen conversion
              Oxygen connection: DN8 . internal thread
              Product features: Comes with an external air tank
              Operating room size: 20㎡
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
