<section class="section main">
  <div class="container div-2-container">
    <div class="row">
      <div class="col-3">
        <div class="d-flex flex-column flex-shrink-0 p-3 sidebar-bg" style="width: 280px;">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-4">Cambridge Hospital's Equipment List</span>
          </a>
          <hr>
          <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
              <a routerLink="/room" class="nav-link active" aria-current="page">
                Equipment name 1
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                Equipment name 2
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                Equipment name 3
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                Equipment name 4
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                Equipment name 5
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                Equipment name 6
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                Equipment name 7
              </a>
            </li>
          </ul>

        </div>
      </div>
      <div class="col-9">
        <div class="content">
          <div class="room-img">
            <img src="assets/images/trong/equipment/e1.png">
            <h4>Máy tạo oxy bệnh viện Owgels 5m3/h</h4>
            <p class="description">
              Ưu điểm và tính năng
              Máy có dung tích lớn 5m3/h tương đương 83 lít/phút, phù hợp sử dụng tại phòng khám, bệnh viện
              Thiết kế hiện đại có 4 bánh lăn di chuyển linh động
              Dung tích lớn rất thích hợp trong quá trình hỗ trợ trị liệu lâu dài
              Các thao tác sử dụng đơn giản
              Tháo lắp các bộ phận dễ dàng để vệ sinh máy
              Thiết bị đem lại cảm giác thoải mái, dễ chịu cho người dùng
              Nguồn oxy tinh khiết, đáp ứng được nhu cầu cho nhiều bệnh nhân sử dụng
              Khung máy chắc chắn, làm bằng chất liệu cao cấp, tuổi thọ cao.
              Thông số kỹ thuật
              Mô hình sản phẩm: 5m³ / h
              Kích thước: 1860 * 750 * 1320mm
              Trọng lượng: 250kg
              Yêu cầu về điện, nguồn điện: 220 V / 50Hz (± 10%)
              Công suất: 7.5KW
              Lưu lượng oxy: 5m³ / h
              Nồng độ oxy: 93 ± 3% v / v)
              Áp suất đầu ra oxy:  200-500Kpa 2bar.-5bar.
              Tiếng ồn ≤60dB
              Chức năng cơ bản: chuyển đổi oxy
              Kết nối oxy: Chủ đề nội bộ DN8
              Tính năng sản phẩm: Đi kèm với bình chứa khí bên ngoài
              Kích thước phòng hoạt động: 20㎡
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
