<h1>Medical examination and treatment process at Cambridge Hospital</h1>
<hr>
<p>For the convenience of medical examination and treatment at Cambridge Hospital, we would like to send you detailed instructions
  as below. Please read carefully and prepare the necessary documents to ensure that the medical examination and
  treatment process takes place quickly and efficiently.</p>
<h3>Necessary documents</h3>
<p>If it is the first time you come to Cambridge Hospital for medical examination, you will go to the reception counter at the
  clinics to open the customer profile, you need to provide:</p>
<ul>
  <li>Full name</li>
  <li>Identity card/ Citizen identification card/ Passport or Birth certificate (if child);</li>
  <li>Health insurance card/Private insurance card (if any) for procedures.
    Cards / coupons (if any)</li>
</ul>
<h4>Please note:</h4>
<ul>
  <li>The above documents need to be carried at all times of using services at Cambridge Hospital hospital.</li>
  <li>Before visiting or performing any medical intervention, you are identified by at least 2 parameters:
    (1) Full name, (2) Date of birth and PID code (if necessary) to avoid possible errors as much as possible.</li>
</ul>
<p>To find out all the information about the hospital, you can look at the bulletin boards and information counters
  located in the main lobby of the hospital. In addition, you can also request a visit to the hospital with support
  from the customer care staff.</p>
<h4>Medical examination and treatment process at Cambridge Hospital</h4>
<ul>
  <li><strong>Step 1:</strong> Fill out the registration form (01 copy) and Copy the identification documents, Insurance card...</li>
  <li><strong>Step 2:</strong> Sign payment documents (02 statements + 01 receipt of hospital fee) and Sign insurance payment (01 copy - if the customer uses Private Insurance)</li>
  <li><strong>Step 3:</strong> Sign consent form for HIV testing, consent form to perform pre-service diagnosis (if any) or refusal form (01 copy)</li>
  <li><strong>Step 4:</strong> Sign payment documents (02 statements + 01 receipt of hospital fee) and Sign insurance payment (01 copy - if the customer uses Private Insurance)</li>
  <li><strong>Step 5:</strong> Sign the service request form (02 copies)</li>
  <li><strong>Step 6:</strong> Sign the service request form (2 copies) and Sign the treatment consent form (1 copy)</li>
  <li><strong>Step 7:</strong> Sign payment documents (02 statements + 01 collection receipt) and Sign insurance payment and payment commitment (02 copies - for customers with private insurance)</li>
  <li><strong>Step 8:</strong> Sign the confirmation of check-in and check-out time (01 copy); Sign payment documents (02 statements + 01 payment receipt); Sign the insurance claim confirmation slip (01 copy - for customers using Health Insurance/Private Insurance)</li>
</ul>
