<h1>Regulations on visiting hours for inpatients at Cambridge Hospital</h1>
<hr>
<p>In order for you to rest completely, and at the same time avoid the risk of infection during treatment,
  and help you recover soon, Cambridge Hospital limits visits to relatives and stays for care during the treatment.</p>
<h3>Regulations on visiting hours for inpatients at Cambridge Hospital:</h3>
<ul>
  <li>Morning 11:30 – 13:30;</li>
  <li>Afternoon: 16:30 – 21:00;</li>
</ul>
<p>(Every day of the week)</p>
<h3>Instructions on procedures to visit patients</h3>
<ul>
  <li>Step 1: Register in and out at the information counters.</li>
  <li>Step 2: Move to the ward/room area where the patient is staying
    according to the instructions of the Hospital Staff.</li>
  <li>Step 3: Press the call button at the door of each department,
    contact the nurse to visit the patient.</li>
  <li>Step 4: Wear gowns, masks, specialized sandals, etc. (when required).</li>
  <li>Step 5: Go to the right ward, the room the patient needs to visit, do not go to other wards.</li>
  <li>Step 6: Leave at the specified time, return to the correct registration counter to return the card
    and receive the identification document.</li>
</ul>
<h3>General regulations when visiting patients at Cambridge Hospital</h3>
<ul>
  <li>Visitors to visit patients, please present identification documents and register to visit patients at the information reception counter or the nursing inpatient counter of the hospital. Medical staff will issue you 01 visit card/person. Caregivers should wear the card when entering and leaving the inpatient ward.</li>
  <li>Visitors to the hospital room visit no more than 02 people at a time. In the case of multiple visitors to the same patient, each visit is 30 minutes.</li>
  <li>In case the patient is under 12 years old, the parent should stay with the child (one person) and not have to pay the night stay fee. If you have a need to use a rollaway bed, please contact the nursing department for instructions on the paperwork and payment of the folding bed fee.</li>
  <li>Rollaway bed is available from 21:00 the previous day to 7:30 the next day. If your family members have a need to stay in a standard single room, please contact the nurse of the department for more information.</li>
  <li>After 9pm every day, the hospital security guard will check the ward and invite visitors to leave.</li>
  <li>To ensure medical hygiene, please do not bring animals or substances that can cause fire, explosion or harm into the hospital room.</li>
  <li>To ensure the quality of treatment, visitors and patient's family should not make noise to avoid affecting other patients.</li>
</ul>
<p>For more information about the patient's medical condition, please contact the nurse on duty at the inpatient department.</p>
