<div id="main">
  <div class="container">
    <div class="row">
      <div class="content col-md-4">
        <h2 class="title">Make an Appointment and You're Done!</h2>
        <h6 class="number__intro">Get Your Quote or Call</h6>
        <h4 class="number__call">(0080) 123-456-789</h4>
        <button class="content__button" href="#" type="submit">
          Make an Appointment
        </button>
      </div>
      <div class="col-md-6">
        <form method="get" action="" class="form-appointment need-validation">
          <h6 class="form-intro">Online Appointment</h6>
          <h3 class="form-name">Make An Appointment</h3>
          <i class="fas fa-heartbeat"></i>
          <input type="text" name="your-name" value="" size="40" class="form-text" aria-invalid="false" placeholder=" Your Name" required>
          <input type="tel" name="phone" value="" size="40" class="form-tel" aria-invalid="false" placeholder=" Phone" required>
          <div class="select">
            <select name="menu" class="select-menu" aria-invalid="false" required>
              <option value="Select doctor">Select Doctor</option>
              <option value="Dr. Nick Sims">Dr. Nick Sims</option>
              <option value="Dr. Michael Linden">Dr. Michael Linden</option>
              <option value="Dr. Max Turner">Dr. Max Turner</option>
              <option value="Dr. Amy Adams">Dr. Amy Adams</option>
            </select>
            <select name="menu" class="select-menu" aria-invalid="false" required>
              <option value="Select Time">Select Time</option>
              <option value="9:00 AM">9:00 AM</option>
              <option value="11:00 AM">11:00 AM</option>
              <option value="2:00 PM">2:00 PM</option>
              <option value="3:00 PM">4:00 PM</option>
            </select>
          </div>
          <textarea name="your-message" class="textarea" aria-invalid="false" placeholder=""> Message:</textarea>
          <button class="form__bottom" href="#" type="submit">
            Submit Query
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
