<div class="modal modal-signin position-static d-block bg-secondary py-5" tabindex="-1" role="dialog" id="modalSignin">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0 regis-top-pad">
        <!-- <h1 class="modal-title fs-5" >Modal title</h1> -->
        <h1 class="fw-bold mb-0 fs-2">Sign up</h1>
      </div>

      <div class="modal-body p-5 pt-0">
        <form method="get" action="" class="need-validation">
          <div class="form-floating mb-3">
            <input type="email" class="form-control rounded-3" id="floatingInput" placeholder="name@example.com" required>
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control rounded-3" id="floatingPassword" placeholder="Password" required>
            <label for="floatingPassword">Password</label>
          </div>
          <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary sign-up-button" type="submit">Sign up</button>
          <small class="small-text">By clicking Sign up, you agree to the <a href="#"><span class="term">Terms of use.</span></a></small>
          <hr class="my-4">
          <h2 class="fs-5 fw-bold mb-3">Or use a third-party</h2>
          <button class="w-100 py-2 mb-2 btn btn-outline-primary rounded-3 fb-sign-up su" type="submit">
            <a href="https://www.facebook.com/login"><i class="fa-brands fa-facebook"></i></a>
            Sign up with Facebook
          </button>
          <button class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-3 gmail-sign-up su" type="submit">
            <a href="https://www.google.com/intl/vi/gmail/about/"><i class="fa-solid fa-at"></i></a>
            Sign up with Gmail
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
