<section class="py-5 text-center doc-script-wrap">
  <div class="container">
    <div class="row py-lg-5 doc-script">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-semibold">How can we help you?</h1>
        <p class="lead text">Search here to get answers to your questions</p>
        <form class="navbar-form navbar-left" action="#">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
            <div class="input-group-btn">
              <button class="btn btn-default nav-search" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="section main">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="container">
          <div class="d-flex flex-column flex-shrink-0 p-3 sidebar-bg" style="width: 280px;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
              <!--              <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>-->
              <span class="fs-4">What can we help?</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
              <li class="nav-item">
                <a href="#" class="nav-link active" aria-current="page">
                  Timetable
                </a>
              </li>
              <li>
                <a href="#" class="nav-link text-white">
                  Procedure
                </a>
              </li>
              <li>
                <a href="#" class="nav-link text-white">
                  Appointment booking
                </a>
              </li>
              <li>
                <a href="#" class="nav-link text-white">
                  Insurance
                </a>
              </li>
              <li>
                <a href="#" class="nav-link text-white">
                  Customers
                </a>
              </li>
              <li>
                <a href="#" class="nav-link text-white">
                  Visit regulations
                </a>
              </li>
            </ul>
            <hr>
          </div>

        </div>
      </div>
      <div class="col-8">
        <div class="content col-xs-12 col-md-8 no-paddings-sm">
          <div class="breadcrumb"><a href="/huong-dan-khach-hang/" class="no-underline">Hướng dẫn khách hàng</a></div>
          <div class="detail-header"><h1>
            Giờ làm việc tại các Bệnh viện Đa khoa Quốc tế Vinmec

          </h1>
            <div class="share"><p class="share-label">Share:</p> <a
              href="https://twitter.com/share?url=https://www.vinmec.com/huong-dan-khach-hang/gio-lam-viec-tai-cac-benh-vien-da-khoa-quoc-te-vinmec/"
              class="twitter-share"><i aria-hidden="true" class="fa fa-twitter"></i></a> <a
              href="https://www.facebook.com/sharer/sharer.php?u=https://www.vinmec.com/huong-dan-khach-hang/gio-lam-viec-tai-cac-benh-vien-da-khoa-quoc-te-vinmec/"
              class="fb-share"><i aria-hidden="true" class="fa fa-facebook-square"></i></a></div>
            <div class="full-question"></div>
            <div class="question-images "></div>
          </div>
          <div class="detail-body clearfix">
            <div class="streamfield">
              <div class="block-content cms pageview-highest">
                <div class="rich-text"><p><b>Bệnh viện Đa khoa Quốc tế Vinmec xin phép cập nhật lịch làm việc cụ thể
                  trong thời gian tới như sau:</b></p></div>
                <h2>Dịch vụ cấp cứu và phòng khám 24 giờ</h2>
                <div class="rich-text">
                  <ul>
                    <li>Khách hàng có nhu cầu dịch vụ cấp cứu, vận chuyển cấp cứu, khám nội đa khoa được phục vụ 24
                      giờ.
                    </li>
                    <li>Hệ thống phòng mổ, chẩn đoán hình ảnh và xét nghiệm hoạt động 24 giờ để phục vụ nhu cầu cấp
                      cứu.
                    </li>
                  </ul>
                </div>
                <h2>
                  <div id="image_middle_id" style="display: none;"><img src="/api/v1/ads/next_ad_view/374/middle/"
                                                                        alt=""></div>
                  Giờ làm việc tại các phòng khám Vinmec
                </h2>
                <div class="rich-text"><p><b>Giờ làm việc tại các phòng khám đa khoa &amp; chuyên khoa:</b></p>
                  <p><b>1. Vinmec Times City:</b></p>
                  <p>Từ Thứ 2 đến Thứ 6:</p>
                  <ul>
                    <li>Sáng: 08:00 - 12:00</li>
                    <li>Chiều: 13:00 - 17:00</li>
                  </ul>
                  <p>Thứ 7: Sáng: 08:00 - 12:00</p>
                  <p>Nghỉ chiều Thứ 7 và ngày Chủ Nhật.</p>
                  <p>Trung tâm vaccine, Trung tâm thẩm mỹ Vinmec - View làm việc từ Thứ 2 đến Chủ Nhật.</p>
                  <p>Nội nhi, Sản phụ khoa, Phòng khám Nhiệt đới xét nghiệm Covid-19 làm việc từ từ Thứ 2 đến Thứ 7</p>
                  <p><b>2. Vinmec Hạ Long:</b></p>
                  <p>Từ Thứ 2 đến Thứ 6:</p>
                  <ul>
                    <li>Sáng: 07:30 - 11:30</li>
                    <li>Chiều: 12:30 - 16:30</li>
                  </ul>
                  <p>Thứ 7: Sáng: 07:30 - 11:30</p>
                  <p>Nghỉ chiều Thứ 7 và ngày Chủ Nhật.</p>


                </div>
                <div class="relate-video">
                  <div class="relate-videos-area text-center" style="justify-content: center;">
                    <div class="relate-video-content"
                         style="max-width: 623px; width: 100%; height: auto; margin-bottom: 30px;">
                      <iframe src="https://www.youtube.com/embed/2xaSgwIPT70?controls=0&amp;autoplay=0"
                              style="max-width: 623px; width: 100%; height: 320px;"></iframe>
                      <a href="https://www.youtube.com/watch?v=2xaSgwIPT70" title="related video title"
                         class="related-title link-in-body">
                        Các thẻ Bảo hiểm Bảo Việt đang có mặt tại bệnh viện Vinmec
                      </a></div>
                  </div>
                </div>
                <div class="laminkids">
                  <div id="laminkid_29" class="data-laminkid"
                       style="background-color: rgb(255, 248, 248); padding: 15px;">

                  </div>
                </div>
                <div class="three-recent-list mobile hidden" style="display: none;"><b>XEM THÊM:</b>
                  <ul>
                    <li><a href="/huong-dan-khach-hang/huong-dan-dat-lich-kham-tai-vinmec/?link_type=related_posts"
                           title="Hướng dẫn đặt lịch khám tại Vinmec" class="post-title link-in-body">Hướng dẫn đặt lịch
                      khám tại Vinmec</a></li>
                    <li><a
                      href="/huong-dan-khach-hang/quy-dinh-ve-gio-vao-tham-benh-nhan-dieu-tri-noi-tru-tai-vinmec/?link_type=related_posts"
                      title="Quy định về giờ vào thăm bệnh nhân điều trị nội trú tại Vinmec"
                      class="post-title link-in-body">Quy định về giờ vào thăm bệnh nhân điều trị nội trú tại Vinmec</a>
                    </li>
                    <li><a
                      href="/huong-dan-khach-hang/huong-dan-thuc-hien-uy-quyen-sao-y-ho-so-benh/?link_type=related_posts"
                      title="Hướng dẫn thực hiện ủy quyền sao y Hồ sơ bệnh án" class="post-title link-in-body">Hướng dẫn
                      thực hiện ủy quyền sao y Hồ sơ bệnh án</a></li>
                  </ul>
                </div>
              </div>


            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</section>

