
*{
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  color: #3065b5;
}
/*.top{*/
/*  position: fixed; !* Set the navbar to fixed position *!*/
/*  top: 0; !* Position the navbar at the top of the page *!*/
/*  width: 100%; !* Full width *!*/
/*  background-color: white;*/
/*  z-index: 1;*/
/*}*/
.top ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.top li i{
  margin-right: 0.5rem;
}
.top-ul-left li{
  float: left;
  list-style-type:none;
  margin-right: 1.5rem;
  color: #3065b5;
}
.top-ul-right li{
  float: right;
  list-style-type:none;
  margin-left: 20px;
}
top-left{
  margin: 0;
}





.logo-nav input:focus{
  border: none;
}
.navbar {
  background-color: #3065b5;
  height: 5.5rem;
  font-size: 1.2rem;
}
/*.navbar {*/
/*  !*overflow: hidden;*!*/
/*  !*background-color: #333;*!*/
/*  position: fixed; !* Set the navbar to fixed position *!*/
/*  top: 24px; !* Position the navbar at the top of the page *!*/
/*  width: 100%; !* Full width *!*/
/*  z-index: 1;*/
/*}*/

.space-home-logo{
  margin-left: 120px;
}
.banner img{
  display: block;
  margin: auto;
  width: 100%;
}
.navbar-brand{
  font-size: 2.2rem;
  font-weight: 500;
}
.nav-search{
  background-color: white;
}
.nav-search:hover{
  background-color: gray;
  color: white;
}
.nav-search{
  border-radius: 0 0.375rem 0.375rem 0;
}
/*css megamenu*/
.navbar ul li{
  position: relative;
}
.navbar ul li ul{
  display: none;
  position: absolute;
  z-index: 10;              /*in nổi phần tử */
  left: 0;
}
.navbar ul li:hover ul{
  display: block;
}




.foot{
  padding: 2rem 0 0 0 !important;
  background-color: #152858;
  color: white;
}
.foot a{
  color: whitesmoke;
}
.foot a:hover{
  text-decoration: underline;
}
.foot i{
  margin-right: 0.5rem;
}
.offset-md-1{
  margin-left: 0;
}
.footer-logo{
  margin-bottom: 2rem;
}
.footer-text{
  padding-right: 2rem;
}
.social ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.social li{
  float: left;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 1rem;
}
.social li i{
  font-size: 1.3rem;
  padding: 10px;
  text-align: center;
  margin: 0;
  border-radius: 50%;
}
.social li:hover{
  color: #152858;
  background-color: white;
  transition: 300ms all;
}
.social i:hover{
  color: #152858;
  background-color: white;
}




.foot-map{
  width: 100%;
  height: 80%;
}
.copyright{
  padding: 0 !important;
  margin: 0 !important;
}
.text-muted{
  color: whitesmoke !important;
}
.copyright p{
  margin: 0.5rem 0 0 0 !important;
}
.copyright ul li{
  float: right;
  margin: 0.5rem 0 0 0.5rem;
}
.copyright a{
  color: white !important;
}

