ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.short-desc .col-4{
  height: 200px;
}
.short-desc .col-4{
  vertical-align: middle;
  display: table-cell;
  margin-top: auto;
  margin-bottom: auto;
}

.three-column{
  margin-top: 3rem;
}

.three-column i{
  text-align: center;
  font-size: 5rem;
  margin: 2rem auto;
  display: block;
  color: #3065b5;
}

.three-column h4{
  text-align: center;
}
.three-column p{
  text-align: center;
}
.btn-secondary{
  background-color: #3065b5;
}

.feature1{
  background-image: url(../../assets/images/trong/pattern-2.png);
  /*background-repeat: no-repeat;*/
  /*background-position: left bottom;*/
  /*!*background-size: 70%;*!*/
}
.feature1-pic img{
  width: 100%;
}
.featured-heading{
  margin: 8rem 0 2rem 0;
  font-size: 2.5rem;
  font-weight: 800;
}


.left-list{
  background-color: #3065b5;
  padding: 2.5rem;


}
.script{
  /*background-color: #3065b5;*/
  color: white;
  padding: 2rem 2rem 2rem 0;
}
.script a{
  color: white;
}
.script li a{
  color: #f5f5f590;
  line-height: 1.5rem;
}
.script li a:hover{
  color: white;
}
.department-wrap{
  margin: 3.5rem 0 0 0;
}
.department-img img{
  margin-bottom: 1rem;
  width: 100%;
}
.de:hover{
  transform: scale(1.01);
  transition: 300ms;
}
.mb-0{
  color: #3065b5;
}

.doc-script{
  padding: 0 !important;
}
.doc-script-wrap{
  padding: 0 !important;

}
.doctor-script{
  border: 1px solid darkgray;
}


.doctor-bg-img{
  background-image: url(../../assets/images/trong/pattern-3.png);
  background-repeat: no-repeat;
  /*background-position: left bottom;*/
  background-size: 80%;

}


/*.script-service{*/
/*  margin: 0 0 0 1rem;*/
/*  background-image: url(../../assets/images/service/sv.jpg);*/

/*}*/
.item-list{
  padding: 3rem 0;
}


.partner-title{
  font-size: 1.5rem;
}
.partner-logo{
  padding: 1rem;
  margin-bottom: 1rem;

}

.f2-icon{
  font-size: 2rem;
  color: #3065b5;
}

.d-flex:hover{
  scale: 1.1;
  transition: 300ms;
}
.btn:hover{
  transition: none;
}

.carousel-caption h1{
  font-size: 5rem;
}
.carousel-caption p{
  font-size: 2rem;
}
.three-feature{
  padding: 0 5rem;
}

.btn-doctor:hover{
  transform: none !important;
}
.docx{
  border: 1px solid darkgray;
}
.card-body{
  padding: 1rem;
}
.doc{
  margin-bottom: 1rem;
}
.doc:hover{
  transform: scale(1.01);
  transition: 300ms;
}
.script-service{
  padding: 1.5rem;
}
.sv-img{
  margin-left: 1rem;
}
.card-body p, h6{
  color: #808080;
}
.sv:hover{
  transform: scale(1.01);
  transition: 300ms;
}
.sv p{
  color: #808080;
}
