
<section class="section banner">

  <a href="#"><img src="assets/images/banner/bn1.jpg"></a>

</section>

<section class="section three-column">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 three-feature">
        <i class="fa-solid fa-suitcase-medical"></i>

        <h4 class="fw-semibold">ADVANCED TECHNOLOGY</h4>
        <p>Cum sociis natoque penatibus et magnis dis parturient montesmus. Pro vel nibh et elit mollis commodo et nec
          augue tristique sed volutpat.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->


      <div class="col-lg-4 three-feature">
        <i class="fa-solid fa-user-doctor"></i>

        <h4 class="fw-semibold">DEDICATED DOCTORS</h4>
        <p>Cum sociis natoque penatibus et magnis dis parturient montesmus. Pro vel nibh et elit mollis commodo et nec
          augue tristique sed volutpat.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->


      <div class="col-lg-4 three-feature">
        <i class="fa-solid fa-truck-medical"></i>

        <h4 class="fw-semibold">24/7 AVAILABLE</h4>
        <p>Cum sociis natoque penatibus et magnis dis parturient montesmus. Pro vel nibh et elit mollis commodo et nec
          augue tristique sed volutpat.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div>
</section>

<section class="section feature1">
  <div class="container">
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featured-heading fw-semibold lh-1">We're setting Standards in Research what's more,
          Clinical Care.</h2>
        <p class="lead">We provide the most full medical services, so every person could have the pportunity
          o receive qualitative medical help.
          <br>
          <br>
          Our Clinic has grown to provide a world class facility for the treatment of tooth
          loss, dental cosmetics and bore advanced restorative dentistry. We are among the
          most qualified implant providers in the AUS with over 30 years of uality training
          and experience.</p>
      </div>

      <div class="col-md-5 order-md-1">
        <img src="assets/images/trong/img1.png">
      </div>
    </div>
    <hr class="featurette-divider">

  </div>
</section>

<section class="section feature2">
  <div class="container px-4 py-5" id="icon-grid">
    <h2 class="pb-2 border-bottom">We Care Our Patients</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
      <div class="col d-flex align-items-start">
        <i class="fa-solid fa-heart-pulse flex-shrink-0 me-3 f2-icon"></i>
        <div>
          <h3 class="fw-bold mb-0 fs-4">Health Check</h3>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i class="fa-regular fa-hospital flex-shrink-0 me-3 f2-icon"></i>
        <div>
          <h3 class="fw-bold mb-0 fs-4">Operation Theater</h3>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">

        <i class="fa-solid fa-store flex-shrink-0 me-3 f2-icon"></i>
        <div>
          <h3 class="fw-bold mb-0 fs-4">Pharmacy Support</h3>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i class="fa-solid fa-truck-medical flex-shrink-0 me-3 f2-icon"></i>
        <div>
          <h3 class="fw-bold mb-0 fs-4">Ambulance Car</h3>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i class="fa-brands fa-researchgate flex-shrink-0 me-3 f2-icon"></i>
        <div>
          <h3 class="fw-bold mb-0 fs-4">Lat Tests</h3>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i class="fa-solid fa-kit-medical flex-shrink-0 me-3 f2-icon"></i>
        <div>
          <h3 class="fw-bold mb-0 fs-4">Intensive Care</h3>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i class="fa-solid fa-user-doctor flex-shrink-0 me-3 f2-icon"></i>
        <div>
          <h3 class="fw-bold mb-0 fs-4">Qualified Doctors</h3>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i class="fa-solid fa-calendar-days flex-shrink-0 me-3 f2-icon"></i>
        <div>
          <h3 class="fw-bold mb-0 fs-4">Years of Experience</h3>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section department-feature">
  <div class="container">
    <hr class="featurette-divider">

    <div class="container px-4 py-5">
      <h2 class="pb-2 border-bottom fw-bold">DEPARTMENTS</h2>

      <div class="row department-wrap">

        <div class="col-3 script">
          <h4 class="fw-bold">Departments</h4><hr>
          <ul>
            <li><a href="#">Outpatient Surgery</a></li>
            <li><a href="#">Cardiac Clinicy</a></li>
            <li><a href="#">Ophthalmology Clinic</a></li>
            <li><a href="#">Gynaecological Clinic</a></li>
            <li><a href="#">Outpatient Rehabilitation</a></li>
            <li><a href="#">Laryngological Clinic</a></li>
            <li><a href="#">Pediatric Clinic</a></li>
          </ul><br>
          <a href="#">View all</a>
        </div>

        <div class="row col-9 item-list">
          <div class="col-sm">
            <div
              class="department-img">
              <img class="department" src="assets/images/trong/department1.jpg">
            </div>
            <h4 class="fw-semibold mb-0">Outpatient Surgery</h4><hr>
            <p class="text-department">Cum sociis natoque penatibus et magnis dis parturient montesmus.
              Pro vel nibh et elit mollis commodo et nec augueique </p>
          </div>

          <div class="col-sm">
            <div
              class="department-img">
              <img class="department" src="assets/images/trong/department2.jpg">
            </div>
            <h4 class="fw-semibold mb-0">Cardiac Clinic</h4><hr>
            <p class="text-department">Cum sociis natoque penatibus et magnis dis parturient montesmus.
              Pro vel nibh et elit mollis commodo et nec augueique </p>
          </div>

          <div class="col-sm">
            <div
              class="department-img">
              <img class="department" src="assets/images/trong/department3.jpg">
            </div>
            <h4 class="fw-semibold mb-0">Ophthalmology Clinic</h4><hr>
            <p class="text-department">Cum sociis natoque penatibus et magnis dis parturient montesmus.
              Pro vel nibh et elit mollis commodo et nec augueique </p>
          </div>

        </div>
      </div>
    </div>

    <hr class="featurette-divider">

  </div>
</section>

<section class="py-5 text-center container doc-script-wrap">
  <div class="row py-lg-5 doc-script">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-semibold">Dedicated Doctors</h1>
      <p class="lead text">We work with the motto: Patient's health comes first</p>

    </div>
  </div>
</section>
<section class="team-experts section main-2 doctor-bg-img">
  <div class="experts-team">
    <div class="album py-5 bg-light doctor-bg-img">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
          <div class="col-sm-3 col-md-3">
            <div class="card shadow-sm">
              <img src="/assets/images/trong/doctor/doctor1.jpg" width="100%">

              <div class="card-body">
                <div class="doctor-info">
                  <h3>Dr. Michael Linden</h3>
                  <h6>Professor, Doctor</h6>
                  <h6>Cardiac</h6>
                </div>
                <hr>

                <p>Cum sociis natoque penatibus et magnis dis parturient montesmus.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">More...</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-md-3">
            <div class="card shadow-sm">
              <img src="/assets/images/trong/doctor/doctor2.jpg" width="100%">

              <div class="card-body">
                <div class="doctor-info">
                  <h3>Dr. Michael Linden</h3>
                  <h6>Professor, Doctor</h6>
                  <h6>Cardiac</h6>
                </div>
                <hr>

                <p>Cum sociis natoque penatibus et magnis dis parturient montesmus.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">More...</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-md-3">
            <div class="card shadow-sm">
              <img src="/assets/images/trong/doctor/doctor3.jpg" width="100%">

              <div class="card-body">
                <div class="doctor-info">
                  <h3>Dr. Michael Linden</h3>
                  <h6>Professor, Doctor</h6>
                  <h6>Cardiac</h6>
                </div>
                <hr>

                <p>Cum sociis natoque penatibus et magnis dis parturient montesmus.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">More...</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-md-3">
            <div class="card shadow-sm">
              <img src="/assets/images/trong/doctor/doctor4.jpg" width="100%">

              <div class="card-body">
                <div class="doctor-info">
                  <h3>Dr. Michael Linden</h3>
                  <h6>Professor, Doctor</h6>
                  <h6>Cardiac</h6>
                </div>
                <hr>

                <p>Cum sociis natoque penatibus et magnis dis parturient montesmus.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">More...</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<section class="section service-feature">
  <div class="container">
    <hr class="featurette-divider">

    <div class="container px-4 py-5">
      <h2 class="pb-2 border-bottom fw-bold">SERVICES</h2>

      <div class="row department-wrap">

        <div class="row col-9 item-list">
          <div class="col-sm">
            <div
              class="department-img">
              <img class="department" src="assets/images/trong/department1.jpg">
            </div>
            <h4 class="fw-semibold mb-0">Outpatient Surgery</h4><hr>
            <p class="text-department">Cum sociis natoque penatibus et magnis dis parturient montesmus.
              Pro vel nibh et elit mollis commodo et nec augueique </p>
          </div>

          <div class="col-sm">
            <div
              class="department-img">
              <img class="department" src="assets/images/trong/department2.jpg">
            </div>
            <h4 class="fw-semibold mb-0">Cardiac Clinic</h4><hr>
            <p class="text-department">Cum sociis natoque penatibus et magnis dis parturient montesmus.
              Pro vel nibh et elit mollis commodo et nec augueique </p>
          </div>

          <div class="col-sm">
            <div
              class="department-img">
              <img class="department" src="assets/images/trong/department3.jpg">
            </div>
            <h4 class="fw-semibold mb-0">Ophthalmology Clinic</h4><hr>
            <p class="text-department">Cum sociis natoque penatibus et magnis dis parturient montesmus.
              Pro vel nibh et elit mollis commodo et nec augueique </p>
          </div>

        </div>

        <div class="col-3 script script-service">

        </div>

      </div>
    </div>

    <hr class="featurette-divider">

  </div>
</section>

<section class="section partner">
  <div class="container">
    <div class="partner-title fw-semibold">OUR PARTNERS</div>
    <div class="row">
      <div class="col partner-logo">
        <img src="assets/images/trong/partner/1.png">
      </div>
      <div class="col partner-logo">
        <img src="assets/images/trong/partner/2.png">
      </div>
      <div class="col partner-logo">
        <img src="assets/images/trong/partner/3.png">
      </div>
      <div class="col partner-logo">
        <img src="assets/images/trong/partner/4.png">
      </div>
      <div class="col partner-logo">
        <img src="assets/images/trong/partner/5.png">
      </div>
    </div>
  </div>
</section>
