<section class="section infra-wrap main">
  <div class="container">
    <h1>INFRASTRUCTURE</h1>
    <hr>
    <div class="row infra-content">
      <div class="col-7 img1">
        <img src="assets/images/trong/infra/infra2.jpg">
      </div>
      <div class="col-5 content">
        <div id="page-bodyhtml" class="bodytext margin-bottom-lg">
          <br>
          <strong><span style="font-size:30px;">1. Cambridge Hospital Los Angeles</span></strong>
          <ul>
            <li><span style="font-size:14px;">Total area: 15,011 m<sup>2</sup></span></li>
            <li><span style="font-size:14px;">Construction area (ground land): 4,382 m<sup>2</sup></span></li>
            <li><span style="font-size:14px;">Area of campus, garden:</span></li>
          </ul>
          <span style="font-size:14px;">Includes items:</span>

          <table border="1" cellpadding="0" cellspacing="0" style="width:550px;">
            <tbody>
            <tr>
              <td style="width: 50px; text-align: center;"><span style="font-size:14px;"><strong>No</strong></span></td>
              <td style="width: 294px; text-align: center;"><span style="font-size:14px;"><strong>Item of works</strong></span></td>
              <td style="width: 149px; text-align: center;"><span style="font-size:14px;"><strong>Background area(m<sup>2</sup>)</strong></span></td>
              <td style="width: 80px; text-align: center;"><span style="font-size:14px;"><strong>Ratio %</strong></span></td>
            </tr>
            <tr>
              <td style="width: 50px; text-align: center;"><span style="font-size:14px;">1</span></td>
              <td style="width:294px;"><span style="font-size:14px;">Operator</span></td>
              <td style="width:149px;"><span style="font-size:14px;">360</span></td>
              <td style="width:80px;"><span style="font-size:14px;">2.4</span></td>
            </tr>
            <tr>
              <td style="width: 50px; text-align: center;"><span style="font-size:14px;">2</span></td>
              <td style="width:294px;"><span style="font-size:14px;">High quality medical clinic</span></td>
              <td style="width:149px;"><span style="font-size:14px;">718</span></td>
              <td style="width:80px;"><span style="font-size:14px;">2.8</span></td>
            </tr>
            <tr>
              <td style="width: 50px; text-align: center;"><span style="font-size:14px;">3</span></td>
              <td style="width:294px;"><span style="font-size:14px;">Clinical Laboratory/Surgical House</span></td>
              <td style="width:149px;"><span style="font-size:14px;">415</span></td>
              <td style="width:80px;"><span style="font-size:14px;">2.8</span></td>
            </tr>
            <tr>
              <td style="width: 50px; text-align: center;"><span style="font-size:14px;">4</span></td>
              <td style="width:294px;"><span style="font-size:14px;">Sponsored by Plan International (Department of Infection Control)</span></td>
              <td style="width:149px;"><span style="font-size:14px;">360</span></td>
              <td style="width:80px;"><span style="font-size:14px;">2.4</span></td>
            </tr>
            <tr>
              <td style="width: 50px; text-align: center;"><span style="font-size:14px;">5</span></td>
              <td style="width:294px;"><span style="font-size:14px;">Department of Surgery and Obstetrics and Gynecology</span></td>
              <td style="width:149px;"><span style="font-size:14px;">509</span></td>
              <td style="width:80px;"><span style="font-size:14px;">3.4</span></td>
            </tr>
            <tr>
              <td style="width: 50px; text-align: center;"><span style="font-size:14px;">6</span></td>
              <td style="width:294px;"><span style="font-size:14px;">Emergency Department- Artificial Kidney</span></td>
              <td style="width:149px;"><span style="font-size:14px;">482</span></td>
              <td style="width:80px;"><span style="font-size:14px;">3.2</span></td>
            </tr>
            <tr>
              <td style="width: 50px; text-align: center;"><span style="font-size:14px;">7</span></td>
              <td style="width:294px;"><span style="font-size:14px;">Department of Internal Medicine and Pediatrics</span></td>
              <td style="width:149px;"><span style="font-size:14px;">485</span></td>
              <td style="width:80px;"><span style="font-size:14px;">3.2</span></td>
            </tr>
            <tr>
              <td style="width: 50px; text-align: center;"><span style="font-size:14px;">8</span></td>
              <td style="width:294px;"><span style="font-size:14px;">Scientist of Traditional Medicine</span></td>
              <td style="width:149px;"><span style="font-size:14px;">247</span></td>
              <td style="width:80px;"><span style="font-size:14px;">1.6</span></td>
            </tr>
            <tr>
              <td style="width: 50px; text-align: center;"><span style="font-size:14px;">9</span></td>
              <td style="width:294px;"><span style="font-size:14px;">Department of Nutrition</span></td>
              <td style="width:149px;"><span style="font-size:14px;">480</span></td>
              <td style="width:80px;"><span style="font-size:14px;">3.2</span></td>
            </tr>
            <tr>
              <td style="width: 50px; text-align: center;"><span style="font-size:14px;">10</span></td>
              <td style="width:294px;"><span style="font-size:14px;">Liquid waste treatment area</span></td>
              <td style="width:149px;"><span style="font-size:14px;">276</span></td>
              <td style="width:80px;"><span style="font-size:14px;">1.8</span></td>
            </tr>
            <tr>
              <td style="width: 50px; text-align: center;"><span style="font-size:14px;">11</span></td>
              <td style="width:294px;"><span style="font-size:14px;">Steam laundry area</span></td>
              <td style="width:149px;"><span style="font-size:14px;">350</span></td>
              <td style="width:80px;"><span style="font-size:14px;">2.3</span></td>
            </tr>
            <tr>
              <td style="width: 50px; text-align: center;"><span style="font-size:14px;">12</span></td>
              <td style="width:294px;"><span style="font-size:14px;">Garden system</span></td>
              <td style="width:149px;"><span style="font-size:14px;">10,629</span></td>
              <td style="width:80px;"><span style="font-size:14px;">70.8</span></td>
            </tr>
            <tr>
              <td style="width:50px;">&nbsp;</td>
              <td style="width:294px;"><span style="font-size:14px;"><strong>Total</strong></span></td>
              <td style="width:149px;"><span style="font-size:14px;"><strong>15,311</strong></span></td>
              <td style="width:80px;"><span style="font-size:14px;"><strong>100.0</strong></span></td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
    <hr>
    <div class="row infra-content">
      <div class="col-5 content">
        <div class="bodytext margin-bottom-lg">
          <br>
          <strong><span style="font-size:30px;">2. Cambridge Hospital New York</span></strong>
          <ul>
            <li><span style="font-size:14px;">Total area: 12,353 m<sup>2</sup></span></li>
            <li><span style="font-size:14px;">Construction area (ground land): 4,120 m<sup>2</sup></span></li>
            <li><span style="font-size:14px;">Area of campus, garden:</span></li>
          </ul>
          <span style="font-size:14px;">Includes items:</span>

          <table border="1" cellpadding="0" cellspacing="0" style="width:550px;">
            <tbody>
            <tr>
              <td style="width: 50px; text-align: center;"><span style="font-size:14px;"><strong>No</strong></span></td>
              <td style="width: 294px; text-align: center;"><span style="font-size:14px;"><strong>Item of works</strong></span></td>
              <td style="width: 149px; text-align: center;"><span style="font-size:14px;"><strong>Background area(m<sup>2</sup>)</strong></span></td>
              <td style="width: 80px; text-align: center;"><span style="font-size:14px;"><strong>Ratio %</strong></span></td>
            </tr>
            <tr>
              <td style="width: 50px; text-align: center;"><span style="font-size:14px;">1</span></td>
              <td style="width:294px;"><span style="font-size:14px;">Operator</span></td>
              <td style="width:149px;"><span style="font-size:14px;">310</span></td>
              <td style="width:80px;"><span style="font-size:14px;">2.5</span></td>
            </tr>
            <tr>
              <td style="width: 50px; text-align: center;"><span style="font-size:14px;">2</span></td>
              <td style="width:294px;"><span style="font-size:14px;">High quality medical clinic</span></td>
              <td style="width:149px;"><span style="font-size:14px;">620</span></td>
              <td style="width:80px;"><span style="font-size:14px;">5</span></td>
            </tr>
            <tr>
              <td style="width: 50px; text-align: center;"><span style="font-size:14px;">3</span></td>
              <td style="width:294px;"><span style="font-size:14px;">Clinical Laboratory/Surgical House</span></td>
              <td style="width:149px;"><span style="font-size:14px;">400</span></td>
              <td style="width:80px;"><span style="font-size:14px;">3</span></td>
            </tr>
            <tr>
              <td style="width: 50px; text-align: center;"><span style="font-size:14px;">4</span></td>
              <td style="width:294px;"><span style="font-size:14px;">Department of Surgery and Obstetrics and Gynecology</span></td>
              <td style="width:149px;"><span style="font-size:14px;">500</span></td>
              <td style="width:80px;"><span style="font-size:14px;">3.4</span></td>
            </tr>
            <tr>
              <td style="width: 50px; text-align: center;"><span style="font-size:14px;">5</span></td>
              <td style="width:294px;"><span style="font-size:14px;">Emergency Department- Artificial Kidney</span></td>
              <td style="width:149px;"><span style="font-size:14px;">350</span></td>
              <td style="width:80px;"><span style="font-size:14px;">3</span></td>
            </tr>
            <tr>
              <td style="width: 50px; text-align: center;"><span style="font-size:14px;">6</span></td>
              <td style="width:294px;"><span style="font-size:14px;">Scientist of Traditional Medicine</span></td>
              <td style="width:149px;"><span style="font-size:14px;">260</span></td>
              <td style="width:80px;"><span style="font-size:14px;">1.6</span></td>
            </tr>
            <tr>
              <td style="width: 50px; text-align: center;"><span style="font-size:14px;">7</span></td>
              <td style="width:294px;"><span style="font-size:14px;">Department of Nutrition</span></td>
              <td style="width:149px;"><span style="font-size:14px;">430</span></td>
              <td style="width:80px;"><span style="font-size:14px;">3.5</span></td>
            </tr>
            <tr>
              <td style="width: 50px; text-align: center;"><span style="font-size:14px;">8</span></td>
              <td style="width:294px;"><span style="font-size:14px;">Liquid waste treatment area</span></td>
              <td style="width:149px;"><span style="font-size:14px;">276</span></td>
              <td style="width:80px;"><span style="font-size:14px;">1.8</span></td>
            </tr>
            <tr>
              <td style="width: 50px; text-align: center;"><span style="font-size:14px;">9</span></td>
              <td style="width:294px;"><span style="font-size:14px;">Steam laundry area</span></td>
              <td style="width:149px;"><span style="font-size:14px;">350</span></td>
              <td style="width:80px;"><span style="font-size:14px;">2.3</span></td>
            </tr>
            <tr>
              <td style="width: 50px; text-align: center;"><span style="font-size:14px;">10</span></td>
              <td style="width:294px;"><span style="font-size:14px;">Garden system</span></td>
              <td style="width:149px;"><span style="font-size:14px;">10,629</span></td>
              <td style="width:80px;"><span style="font-size:14px;">70.8</span></td>
            </tr>
            <tr>
              <td style="width:50px;">&nbsp;</td>
              <td style="width:294px;"><span style="font-size:14px;"><strong>Total</strong></span></td>
              <td style="width:149px;"><span style="font-size:14px;"><strong>12,353</strong></span></td>
              <td style="width:80px;"><span style="font-size:14px;"><strong>100.0</strong></span></td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
      <div class="col-7 img2">
        <img src="assets/images/trong/infra/infra1.jpg">
      </div>

    </div>
  </div>
</section>
