<section class="section infra-wrap">
  <div class="container">
    <div class="row">
      <div class="col infra-content">
        <div id="page-bodyhtml" class="bodytext margin-bottom-lg">
          <br>
          <strong><span style="font-size:14px;">1. Cơ sở hạ tầng:</span></strong>
          <ul>
            <li><span style="font-size:14px;">Tổng diện tích: 15.011 m<sup>2</sup></span></li>
            <li><span style="font-size:14px;">Diện tích xây dựng (đất nền): 4.382 m<sup>2</sup></span></li>
            <li><span style="font-size:14px;">Diện tích khuôn viên, sân vườn:</span></li>
          </ul>
          <span style="font-size:14px;">Bao gồm các hạng mục:</span>

          <table border="1" cellpadding="0" cellspacing="0" style="width:550px;">
            <tbody>
            <tr>
              <td style="width: 50px; text-align: center;"><span style="font-size:14px;"><strong>STT</strong></span></td>
              <td style="width: 294px; text-align: center;"><span style="font-size:14px;"><strong>Hạng mục công trình</strong></span></td>
              <td style="width: 149px; text-align: center;"><span style="font-size:14px;"><strong>Diện tích nền (m<sup>2</sup>)</strong></span></td>
              <td style="width: 80px; text-align: center;"><span style="font-size:14px;"><strong>Tỷ lệ %</strong></span></td>
            </tr>
            <tr>
              <td style="width: 50px; text-align: center;"><span style="font-size:14px;">1</span></td>
              <td style="width:294px;"><span style="font-size:14px;">Nhà điều hành</span></td>
              <td style="width:149px;"><span style="font-size:14px;">360</span></td>
              <td style="width:80px;"><span style="font-size:14px;">2.4</span></td>
            </tr>
            <tr>
              <td style="width: 50px; text-align: center;"><span style="font-size:14px;">2</span></td>
              <td style="width:294px;"><span style="font-size:14px;">Nhà Khám chữa bệnh chất lượng cao</span></td>
              <td style="width:149px;"><span style="font-size:14px;">718</span></td>
              <td style="width:80px;"><span style="font-size:14px;">2.8</span></td>
            </tr>
            <tr>
              <td style="width: 50px; text-align: center;"><span style="font-size:14px;">3</span></td>
              <td style="width:294px;"><span style="font-size:14px;">Nhà khoa Cận lâm sàng/ nhà mổ</span></td>
              <td style="width:149px;"><span style="font-size:14px;">415</span></td>
              <td style="width:80px;"><span style="font-size:14px;">2.8</span></td>
            </tr>
            <tr>
              <td style="width: 50px; text-align: center;"><span style="font-size:14px;">4</span></td>
              <td style="width:294px;"><span style="font-size:14px;">Nhà Plan International tài trợ (khoa KSNK)</span></td>
              <td style="width:149px;"><span style="font-size:14px;">360</span></td>
              <td style="width:80px;"><span style="font-size:14px;">2.4</span></td>
            </tr>
            <tr>
              <td style="width: 50px; text-align: center;"><span style="font-size:14px;">5</span></td>
              <td style="width:294px;"><span style="font-size:14px;">Nhà khoa Ngoại- khoa Sản</span></td>
              <td style="width:149px;"><span style="font-size:14px;">509</span></td>
              <td style="width:80px;"><span style="font-size:14px;">3.4</span></td>
            </tr>
            <tr>
              <td style="width: 50px; text-align: center;"><span style="font-size:14px;">6</span></td>
              <td style="width:294px;"><span style="font-size:14px;">Nhà khoa Cấp cứu- Thận nhân tạo</span></td>
              <td style="width:149px;"><span style="font-size:14px;">482</span></td>
              <td style="width:80px;"><span style="font-size:14px;">3.2</span></td>
            </tr>
            <tr>
              <td style="width: 50px; text-align: center;"><span style="font-size:14px;">7</span></td>
              <td style="width:294px;"><span style="font-size:14px;">Nhà khoa Nội- Nhi</span></td>
              <td style="width:149px;"><span style="font-size:14px;">485</span></td>
              <td style="width:80px;"><span style="font-size:14px;">3.2</span></td>
            </tr>
            <tr>
              <td style="width: 50px; text-align: center;"><span style="font-size:14px;">8</span></td>
              <td style="width:294px;"><span style="font-size:14px;">Nhà khoa Y học cổ truyền</span></td>
              <td style="width:149px;"><span style="font-size:14px;">247</span></td>
              <td style="width:80px;"><span style="font-size:14px;">1.6</span></td>
            </tr>
            <tr>
              <td style="width: 50px; text-align: center;"><span style="font-size:14px;">9</span></td>
              <td style="width:294px;"><span style="font-size:14px;">Nhà khoa Dinh dưỡng</span></td>
              <td style="width:149px;"><span style="font-size:14px;">480</span></td>
              <td style="width:80px;"><span style="font-size:14px;">3.2</span></td>
            </tr>
            <tr>
              <td style="width: 50px; text-align: center;"><span style="font-size:14px;">10</span></td>
              <td style="width:294px;"><span style="font-size:14px;">Khu xử lý chất thải lỏng</span></td>
              <td style="width:149px;"><span style="font-size:14px;">276</span></td>
              <td style="width:80px;"><span style="font-size:14px;">1.8</span></td>
            </tr>
            <tr>
              <td style="width: 50px; text-align: center;"><span style="font-size:14px;">11</span></td>
              <td style="width:294px;"><span style="font-size:14px;">Khu giặt là hấp</span></td>
              <td style="width:149px;"><span style="font-size:14px;">350</span></td>
              <td style="width:80px;"><span style="font-size:14px;">2.3</span></td>
            </tr>
            <tr>
              <td style="width: 50px; text-align: center;"><span style="font-size:14px;">12</span></td>
              <td style="width:294px;"><span style="font-size:14px;">Hệ thống sân vườn</span></td>
              <td style="width:149px;"><span style="font-size:14px;">10,629</span></td>
              <td style="width:80px;"><span style="font-size:14px;">70.8</span></td>
            </tr>
            <tr>
              <td style="width:50px;">&nbsp;</td>
              <td style="width:294px;"><span style="font-size:14px;"><strong>Tổng số</strong></span></td>
              <td style="width:149px;"><span style="font-size:14px;"><strong>15,311</strong></span></td>
              <td style="width:80px;"><span style="font-size:14px;"><strong>100.0</strong></span></td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</section>
