<section class="section infra-wrap main">
  <div class="container">
    <h1>INFRASTRUCTURE</h1>
    <hr>
    <div class="row infra-content">
      <div class="col-7 img1">
        <img src="assets/images/trong/infra/infra2.jpg">
      </div>
      <div class="col-5 content">
        <div id="page-bodyhtml" class="bodytext margin-bottom-lg">
          <br>
          <strong><span style="font-size:30px;">Cambridge Hospital</span></strong>
          <ul>
            <li><span >Total area: 15,011 m<sup>2</sup></span></li>
            <li><span >Construction area (ground land): 4,382 m<sup>2</sup></span></li>
            <li><span >Area of campus, garden:</span></li>
          </ul>
          <span >Includes items:</span>

          <table border="1" cellpadding="0" cellspacing="0" style="width:550px;">
            <tbody>
            <tr>
              <td style="width: 50px; text-align: center;"><span ><strong>No</strong></span></td>
              <td style="width: 294px; text-align: center;"><span ><strong>Item of works</strong></span></td>
              <td style="width: 60px; text-align: center;"><span ><strong>Background area(m<sup>2</sup>)</strong></span></td>
              <td style="width: 50px; text-align: center;"><span ><strong>Ratio %</strong></span></td>
            </tr>
            <tr>
              <td style="width: 50px; text-align: center;"><span >1</span></td>
              <td style="width:294px;"><span >Operator</span></td>
              <td   style="width: 60px; text-align: center;"><span >360</span></td>
              <td style="width: 50px; text-align: center;"><span >2.4</span></td>
            </tr>
            <tr>
              <td style="width: 50px; text-align: center;"><span >2</span></td>
              <td style="width:294px;"><span  >High quality medical clinic</span></td>
              <td   style="width: 60px; text-align: center;"><span  >718</span></td>
              <td style="width: 50px; text-align: center;"><span  >2.8</span></td>
            </tr>
            <tr>
              <td style="width: 50px; text-align: center;"><span  >3</span></td>
              <td style="width:294px;"><span  >Clinical Laboratory/Surgical House</span></td>
              <td   style="width: 60px; text-align: center;"><span  >415</span></td>
              <td style="width: 50px; text-align: center;"><span  >2.8</span></td>
            </tr>
            <tr>
              <td style="width: 50px; text-align: center;"><span  >4</span></td>
              <td style="width:294px;"><span  >Sponsored by Plan International (Department of Infection Control)</span></td>
              <td   style="width: 60px; text-align: center;"><span  >360</span></td>
              <td style="width: 50px; text-align: center;"><span  >2.4</span></td>
            </tr>
            <tr>
              <td style="width: 50px; text-align: center;"><span  >5</span></td>
              <td style="width:294px;"><span  >Department of Surgery and Obstetrics and Gynecology</span></td>
              <td   style="width: 60px; text-align: center;"><span  >509</span></td>
              <td style="width: 50px; text-align: center;"><span  >3.4</span></td>
            </tr>
            <tr>
              <td style="width: 50px; text-align: center;"><span  >6</span></td>
              <td style="width:294px;"><span  >Emergency Department- Artificial Kidney</span></td>
              <td   style="width: 60px; text-align: center;"><span  >482</span></td>
              <td style="width: 50px; text-align: center;"><span  >3.2</span></td>
            </tr>
            <tr>
              <td style="width: 50px; text-align: center;"><span  >7</span></td>
              <td style="width:294px;"><span  >Department of Internal Medicine and Pediatrics</span></td>
              <td   style="width: 60px; text-align: center;"><span  >485</span></td>
              <td style="width: 50px; text-align: center;"><span  >3.2</span></td>
            </tr>
            <tr>
              <td style="width: 50px; text-align: center;"><span  >8</span></td>
              <td style="width:294px;"><span  >Scientist of Traditional Medicine</span></td>
              <td   style="width: 60px; text-align: center;"><span  >247</span></td>
              <td style="width: 50px; text-align: center;"><span  >1.6</span></td>
            </tr>
            <tr>
              <td style="width: 50px; text-align: center;"><span  >9</span></td>
              <td style="width:294px;"><span  >Department of Nutrition</span></td>
              <td   style="width: 60px; text-align: center;"><span  >480</span></td>
              <td style="width: 50px; text-align: center;"><span  >3.2</span></td>
            </tr>
            <tr>
              <td style="width: 50px; text-align: center;"><span  >10</span></td>
              <td style="width:294px;"><span  >Liquid waste treatment area</span></td>
              <td   style="width: 60px; text-align: center;"><span  >276</span></td>
              <td style="width: 50px; text-align: center;"><span  >1.8</span></td>
            </tr>
            <tr>
              <td style="width: 50px; text-align: center;"><span  >11</span></td>
              <td style="width:294px;"><span  >Steam laundry area</span></td>
              <td   style="width: 60px; text-align: center;"><span  >350</span></td>
              <td style="width: 50px; text-align: center;"><span  >2.3</span></td>
            </tr>
            <tr>
              <td style="width: 50px; text-align: center;"><span  >12</span></td>
              <td style="width:294px;"><span  >Garden system</span></td>
              <td   style="width: 60px; text-align: center;"><span  >10,629</span></td>
              <td style="width: 50px; text-align: center;"><span  >70.8</span></td>
            </tr>
            <tr>
              <td style="width: 50px; text-align: center;">&nbsp;</td>
              <td style="width:294px;"><span  ><strong>Total</strong></span></td>
              <td   style="width: 60px; text-align: center;"><span  ><strong>15,311</strong></span></td>
              <td style="width: 50px; text-align: center;"><span  ><strong>100.0</strong></span></td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
    <hr>
<!--    <div class="row infra-content">-->
<!--      <div class="col-5 content">-->
<!--        <div class="bodytext margin-bottom-lg">-->
<!--          <br>-->
<!--          <strong><span style="font-size:30px;">2. Cambridge Hospital New York</span></strong>-->
<!--          <ul>-->
<!--            <li><span  >Total area: 12,353 m<sup>2</sup></span></li>-->
<!--            <li><span  >Construction area (ground land): 4,120 m<sup>2</sup></span></li>-->
<!--            <li><span  >Area of campus, garden:</span></li>-->
<!--          </ul>-->
<!--          <span  >Includes items:</span>-->

<!--          <table border="1" cellpadding="0" cellspacing="0" style="width:550px;">-->
<!--            <tbody>-->
<!--            <tr>-->
<!--              <td style="width: 50px; text-align: center;"><span  ><strong>No</strong></span></td>-->
<!--              <td style="width: 294px; text-align: center;"><span  ><strong>Item of works</strong></span></td>-->
<!--              <td style="width: 149px; text-align: center;"><span  ><strong>Background area(m<sup>2</sup>)</strong></span></td>-->
<!--              <td style="width: 80px; text-align: center;"><span  ><strong>Ratio %</strong></span></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td style="width: 50px; text-align: center;"><span  >1</span></td>-->
<!--              <td style="width:294px;"><span  >Operator</span></td>-->
<!--              <td   style="width: 60px; text-align: center;"><span  >310</span></td>-->
<!--              <td style="width: 50px; text-align: center;"><span  >2.5</span></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td style="width: 50px; text-align: center;"><span  >2</span></td>-->
<!--              <td style="width:294px;"><span  >High quality medical clinic</span></td>-->
<!--              <td   style="width: 60px; text-align: center;"><span  >620</span></td>-->
<!--              <td style="width: 50px; text-align: center;"><span  >5</span></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td style="width: 50px; text-align: center;"><span  >3</span></td>-->
<!--              <td style="width:294px;"><span  >Clinical Laboratory/Surgical House</span></td>-->
<!--              <td   style="width: 60px; text-align: center;"><span  >400</span></td>-->
<!--              <td style="width: 50px; text-align: center;"><span  >3</span></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td style="width: 50px; text-align: center;"><span  >4</span></td>-->
<!--              <td style="width:294px;"><span  >Department of Surgery and Obstetrics and Gynecology</span></td>-->
<!--              <td   style="width: 60px; text-align: center;"><span  >500</span></td>-->
<!--              <td style="width: 50px; text-align: center;"><span  >3.4</span></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td style="width: 50px; text-align: center;"><span  >5</span></td>-->
<!--              <td style="width:294px;"><span  >Emergency Department- Artificial Kidney</span></td>-->
<!--              <td   style="width: 60px; text-align: center;"><span  >350</span></td>-->
<!--              <td style="width: 50px; text-align: center;"><span  >3</span></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td style="width: 50px; text-align: center;"><span  >6</span></td>-->
<!--              <td style="width:294px;"><span  >Scientist of Traditional Medicine</span></td>-->
<!--              <td   style="width: 60px; text-align: center;"><span  >260</span></td>-->
<!--              <td style="width: 50px; text-align: center;"><span  >1.6</span></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td style="width: 50px; text-align: center;"><span  >7</span></td>-->
<!--              <td style="width:294px;"><span  >Department of Nutrition</span></td>-->
<!--              <td   style="width: 60px; text-align: center;"><span  >430</span></td>-->
<!--              <td style="width: 50px; text-align: center;"><span  >3.5</span></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td style="width: 50px; text-align: center;"><span  >8</span></td>-->
<!--              <td style="width:294px;"><span  >Liquid waste treatment area</span></td>-->
<!--              <td   style="width: 60px; text-align: center;"><span  >276</span></td>-->
<!--              <td style="width: 50px; text-align: center;"><span  >1.8</span></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td style="width: 50px; text-align: center;"><span  >9</span></td>-->
<!--              <td style="width:294px;"><span  >Steam laundry area</span></td>-->
<!--              <td   style="width: 60px; text-align: center;"><span  >350</span></td>-->
<!--              <td style="width: 50px; text-align: center;"><span  >2.3</span></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td style="width: 50px; text-align: center;"><span  >10</span></td>-->
<!--              <td style="width:294px;"><span  >Garden system</span></td>-->
<!--              <td   style="width: 60px; text-align: center;"><span  >10,629</span></td>-->
<!--              <td style="width: 50px; text-align: center;"><span  >70.8</span></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td style="width: 50px; text-align: center;">&nbsp;</td>-->
<!--              <td style="width:294px;"><span  ><strong>Total</strong></span></td>-->
<!--              <td   style="width: 60px; text-align: center;"><span  ><strong>12,353</strong></span></td>-->
<!--              <td style="width: 50px; text-align: center;"><span  ><strong>100.0</strong></span></td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--          </table>-->

<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-7 img2">-->
<!--        <img src="assets/images/trong/infra/infra1.jpg">-->
<!--      </div>-->

<!--    </div>-->
  </div>
</section>
