#main{
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
  color: #808080;
  font-size: 14px;
  box-sizing: border-box;
  background-color: #fff;
  font-family: Helvetica,sans-serif;
}
.container{
  width: 1090px;
  height: 2520px;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 40px;
}
li{
  list-style: none;
}
a {
  text-decoration: none;
}
.sidebar{
  width: 245px;
  float: left;
  font-size: 14px;
  color: #ffffff;
}
.content{
  width: calc(100% - 245px - 32px);
  float: right;
}

/*sidebar*/
.widget1{
  width: 100%;
  height: 380px;
  padding: 30px 30px;
  margin-top: 0;
}
.widget1 h3{
  font-size:  24px;
  margin-bottom: 25px;
}
.widget1 ul{
  padding: 10px 0;
}
.widget1 ul li{
  padding-bottom: 10px;
}
.widget1 ul li a{
  color: #ffffff;
}
.widget1 ul li a:hover{
  color: #808080;
}

.widget2{
  width: 100%;
  height: 285px;
  padding: 30px 30px;
  margin-top: 0;
}
.widget2 h3{
  font-size:  24px;
  margin-bottom: 25px;
}
.widget2 ul{
  padding: 10px 0;
}
.widget2 ul li{
  padding-bottom: 10px;
}
.-align-right{
  float: right;
}

.widget3{
  width: 100%;
  height: 285px;
  padding: 30px 30px;
  margin-top: 0;
}
.widget3 h3{
  font-size:  24px;
  margin-bottom: 25px;
}
.widget3 ul{
  padding: 10px 0;
}
.widget3 ul li{
  padding-bottom: 10px;
}
.icon{
  padding-right: 10px;
}
.fa-map-marker{
  padding-right: 15px;
}

.hr0{
  width: 185px;
  margin: 8px 0;
}
.hr1{
  margin: 0;
}

/*content*/
.introduction{
  width: 100%;
}
img{
  width: 100%;
}
.introduction h2{
  margin: 30px 0 20px;
  font-size: 24px;
  color: #2d3438;
  font-weight: bold;
}
.introduction p{
  margin: 0;
  padding-bottom: 20px;
}
.hr2{
  background-image: linear-gradient(45deg,
  hsla(0, 0%, 5%, 0),
  hsla(0, 0%, 5%, 0) 33.33%,
  hsl(0, 0%, 50%) 33.33%,
  hsl(0, 0%, 50%) 66.67%,
  hsla(0, 0%, 5%, 0) 66.67%,
  hsla(0, 0%, 5%, 0) 100%);
  background-size: 8px 100%;
  float: left;
  width: 250px;
  height: 10px;
  color: #808080;
  margin: 30px 0 50px;
}
.price{
  float: left;
  width: 100%;
}
.column{
  float: left;
  width: calc(100% / 3);
}
.column h3{
  padding: 0;
  margin: 0;
  color: #2d3438;
  font-size: 18px;
  font-weight: normal;
}
.hr3{
  margin: 10px 0 30px;
}
.column ul{
  float: left;
  margin: 0 0 0 15px;
  padding: 0;
}
.column li{
  list-style: square;
}
.column ul li{
  padding-bottom: 12px;
}
.column ul li::marker{
  color: #4bbcd7;
}

.intro_doctors{
  float: left;
  padding: 0 0 20px 0;
  margin: 0;
  width: 100%;
}
.intro_doctors h2{
  font-size: 24px;
  color: #2d3438;
  margin: 0;
  font-weight: bold;
}
.intro_doctors p{
  margin: 10px 0 40px;
}
.profile_doctors_column{
  width: calc(100% / 3 - 30px);
  float: left;
  margin: 0 30px 0 0;
  padding: 0;
  border: 1px solid rgba(128, 128, 128, 0.3);
  overflow: hidden;            /*để cho cái ảnh khi hover thì hình ảnh không zoom ra ngoài*/
}
.profile_doctors_column img{
  width: 100%;
  height: 233px;
  object-fit: cover;          /*thay đổi kích thước ảnh phù hợp*/
  transition: 0.5s;
  overflow: hidden;
}
.profile_doctors_column img:hover{
  transform: scale(1.2);
}

/*Mai sửa tiếp cái hover images ở đây*/




.heading{
  width: 100%;
  padding: 16px 20px;
  margin: 0;
}
.heading h3{
  color: #4bbcd7;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 6px;
}
.heading h6{
  color: #2d3438;
  font-size: 14px;
  margin: 0;
}
.hr4{
  margin: 0;
}
.profile_doctors_column p{
  padding: 16px 20px;
  margin: 0;
}
.profile_doctors_column ul{
  margin: 0;
  padding: 16px 20px;
}
.profile_doctors_column ul li{
  line-height: 1.8;
}
.profile_doctors_column ul li i{
  color: #4bbcd7;
  margin-right: 15px;
}


/*appoitments*/
.appointments{
  margin: 0;
  padding-bottom: 50px;
}
.appointments h2{
  font-size: 24px;
  color: #2d3438;
  margin: 0;
  font-weight: bold;
}
.appointments p{
  margin: 10px 0 40px;
}
.form{
  width: 100%;
  float: left;
  padding: 0;
  margin: 0;
}
input{
  border: 1px solid #b0afaf;
}
select{
  border: 1px solid #b0afaf;
}
.col{
  width: calc(100%/2 - 20px);
}
.col p{
  float: left;
  width: 100%;
  margin: 0;
  padding: 0 0 20px 0;
}
.wrap{
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}
.select{
  width: 100%;
  float: left;
  height: 40px;
  color: #808080;
  padding-left: 10px;
}
option{
  color: #808080;
  font-size: 16px;
}
.form-text{
  width: 100%;
  float: left;
  height: 40px;
  color: #808080;
  margin: 0;
  font-size: 14px;
  padding-left: 10px;
}
.tel{
  width: 100%;
  float: left;
  height: 40px;
  color: #808080;
  margin: 0;
  font-size: 14px;
  padding-left: 10px;
}
.date{
  width: 100%;
  float: left;
  height: 40px;
  color: #808080;
  margin: 0;
  font-size: 14px;
  padding: 0 10px;
}
.row{
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}
.one_first{
  width: 100%;
  float: left;
  margin: 0;
  padding: 0 0 20px 0;
}
.one_first p{
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}
.textarea{
  width: 100%;
  border: 1px solid #b0afaf;
  margin: 0;
  padding: 10px 0 0 10px;
  color: #808080;
}
.submit{
  width: 250px;
  height: 50px;
  background-color: #ffffff;
  font-size: 18px;
  padding: 0;
  margin: 0;
}
.submit:hover{
  background-color: #4bbcd7;
  color: #ffffff;
}
